*.pyc
*.json
*.xlsx
*.swp
data
.idea
*.log
__pycache__
./weibo/__pycache__
./weibo/spiders/__pycache__
./weibo/utils/__pycache__
build
logs
project.egg-info
venv
eggs
twistd.pid
结果文件
crawls